kind: ConfigMap
apiVersion: v1
metadata:
  name: lightspeed-stack
data:
  lightspeed-stack.yaml: |
    name: Lightspeed Core Service (LCS)
    service:
      host: 0.0.0.0
      # Use ${LIGHTSPEED_SERVICE_PORT} if you are not running the Service on port `8080`
      # port: ${LIGHTSPEED_SERVICE_PORT}
      auth_enabled: false
      workers: 1
      color_log: true
      access_log: true
    llama_stack:
      use_as_library_client: false
      url: http://localhost:8321
    user_data_collection:
      feedback_enabled: true
      feedback_storage: "/tmp/data/feedback"
      transcripts_enabled: true
      transcripts_storage: "/tmp/data/transcripts"
    authentication:
      module: "noop"
    conversation_cache:
      type: "postgres"
      postgres:
        host: "${env.POSTGRES_HOST}"
        port: "${env.POSTGRES_PORT}"
        user: "${env.POSTGRES_USER}"
        password: "${env.POSTGRES_PASSWORD}"
        db: "rhdh-ls"
    mcp_servers:
      - name: mcp::backstage
        provider_id: model-context-protocol
        url: https://backstage-developer-hub-rhdh-gitlab.${env.BASEDOMAIN}/api/mcp-actions/v1
