kind: ConfigMap
apiVersion: v1
metadata:
  name: app-config-rhdh
data:
  app-config-rhdh.yaml: |
    app:
      title: My Red Hat Developer Hub Instance
      #baseUrl: https://backstage-developer-hub-rhdh-gitlab.${BASEDOMAIN}
    backend:
      auth:
        keys:
          - secret: ${BACKEND_SECRET}
    auth:
      providers:
        guest:
          dangerouslyAllowOutsideDevelopment: true
      #baseUrl: https://backstage-developer-hub-rhdh-gitlab.${BASEDOMAIN}
      #cors:
      #  origin: https://backstage-developer-hub-rhdh-gitlab.${BASEDOMAIN}
