kind: ConfigMap
apiVersion: v1
metadata:
  name: app-config-rhdh
data:
  app-config-rhdh.yaml: |
    signInPage: gitlab
    app:
      title: My Red Hat Developer Hub Instance
      #baseUrl: https://backstage-developer-hub-rhdh-gitlab.${BASEDOMAIN}
    backend:
      auth:
        keys:
          - secret: ${BACKEND_SECRET}
      #baseUrl: https://backstage-developer-hub-rhdh-gitlab.${BASEDOMAIN}
      #cors:
      #  origin: https://backstage-developer-hub-rhdh-gitlab.${BASEDOMAIN}
    auth:
      environment: development
      providers:
        guest:
          dangerouslyAllowOutsideDevelopment: true
        gitlab:
          development:
            clientId: ${AUTH_GITLAB_CLIENT_ID}
            clientSecret: ${AUTH_GITLAB_CLIENT_SECRET}
            audience: https://gitlab.${BASEDOMAIN}
            signIn:
              resolvers:
                - resolver: usernameMatchingUserEntityName
                  dangerouslyAllowSignInWithoutUserInCatalog: true
