kind: ConfigMap
apiVersion: v1
metadata:
  name: app-config-rhdh
data:
  app-config-rhdh.yaml: |
    signInPage: gitlab
    app:
      title: My Red Hat Developer Hub Instance
      #baseUrl: https://backstage-developer-hub-rhdh-gitlab.${BASEDOMAIN}
      # Enabling Analytics - Enabled by default from Red Hat Developer Hub 1.7
      analytics:
        adoptionInsights:
          maxBufferSize: 25    # Default 20
          flushInterval: 10000 # Default 5000
          debug: false         # Default false
          licensedUsers: 500   # Default 1000
    backend:
      auth:
        #keys:
        #  - secret: ${BACKEND_SECRET}
        externalAccess:
          - type: static
            options:
              token: ${MCP_TOKEN}
              subject: mcp-clients
      actions:
        pluginSources:
          - software-catalog-mcp-tool
          - techdocs-mcp-tool
    auth:
      environment: development
      providers:
        gitlab:
          development:
            clientId: ${AUTH_GITLAB_CLIENT_ID}
            clientSecret: ${AUTH_GITLAB_CLIENT_SECRET}
            audience: https://gitlab.${BASEDOMAIN}
            signIn:
              resolvers:
                - resolver: usernameMatchingUserEntityName
                  dangerouslyAllowSignInWithoutUserInCatalog: false
    integrations:
      gitlab:
        - host: gitlab.${BASEDOMAIN}
          token: ${GITLAB_TOKEN}
          apiBaseUrl: https://gitlab.${BASEDOMAIN}/api/v4
          baseUrl: https://gitlab.${BASEDOMAIN}
    argocd:
      appLocatorMethods:
        - type: 'config'
          instances:
            - name: openshift-gitops
              url: ${ARGOCD_URL}
              username: ${ARGOCD_USERNAME}
              password: ${ARGOCD_PASSWORD}
    kubernetes:
      serviceLocatorMethod:
        type: multiTenant
      clusterLocatorMethods:
        - type: config
          clusters:
            - name: ocp
              authProvider: serviceAccount              
              serviceAccountToken: ${RHDH_TOKEN_SERVICE_ACCOUNT}
              skipTLSVerify: true
              url: https://${APIDOMAIN}:6443
      customResources:
        - group: 'route.openshift.io'
          apiVersion: 'v1'
          plural: 'routes'
        - group: 'tekton.dev'
          apiVersion: 'v1'
          plural: 'pipelines'
        - group: 'tekton.dev'
          apiVersion: 'v1'
          plural: 'pipelineruns'
        - group: 'tekton.dev'
          apiVersion: 'v1'
          plural: 'taskruns'
        #- group: 'argoproj.io'
        #  apiVersion: 'v1alpha1'
        #  plural: 'Rollouts'
        #- group: 'argoproj.io'
        #  apiVersion: 'v1alpha1'
        #  plural: 'analysisruns'          
    catalog:
      locations:
        - type: url
          target: https://github.com/rmarting/rhdh-exercises-software-templates/blob/main/templates.yaml
          rules:
            - allow: [Template]
      rules:
        - allow: [Component, System, Group, Resource, Location, Template, API, User, Domain, Type]
      providers:
        gitlab:
          myGitLab:
            host: gitlab.${BASEDOMAIN}
            apiBaseUrl: https://gitlab.${BASEDOMAIN}/api/v4
            branch: main
            fallbackBranch: master
            skipForkedRepos: false
            entityFilename: catalog-info.yaml
            projectPattern: '[\s\S]*'
            schedule:
              frequency: { minutes: 5 }
              timeout: { minutes: 15 }
            orgEnabled: true
            allowInherited: true
            groupPattern: '[\s\S]*'
            restrictUsersToGroup: false
    permission:
      enabled: false
      rbac:
        admin:
          users:
            - name: user:default/root
        policies-csv-file: /opt/app-root/src/rbac/rbac-policy.csv
        conditionalPoliciesFile: /opt/app-root/src/rbac/rbac-conditional-policies.yaml
        policyFileReload: true
        pluginsWithPermission:
          - catalog
          - scaffolder
          - permission
          - orchestrator
          - kubernetes
    techdocs:
      builder: 'external'
      generator:
        runIn: 'local'
      publisher:
        type: 'awsS3'
        awsS3:
          bucketName: ${BUCKET_NAME}
          endpoint: ${BUCKET_URL}
          s3ForcePathStyle: true
          region: ${AWS_REGION}
          credentials:
            accessKeyId: ${AWS_ACCESS_KEY_ID}
            secretAccessKey: ${AWS_SECRET_ACCESS_KEY}
    scaffolder:
      notifications:
        templateUpdate:
          enabled: true
